html {
    padding: 0;
    margin: 0;
    font-size: 1vw;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.container {
    width: 100%;
}

#heading {
    background-image: url("./back-ground_h.jpg");
    background-position: center;
    background-size: cover;
    height:700px;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #B7B0B0;
    opacity: 0.7;
    position: fixed;
    z-index: 19;
    border-bottom:red 0.4rem solid;
}

.logo img {
    height: 5rem;
    width: 10rem;
    margin-left: 5rem;
    
}

#mobile-version {
    display: none;
}

#desktop-version {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -5rem;
    margin-right: 5rem;
}

nav a {
    padding: 0.5rem;
}

.navigation {
    text-decoration: none;
    margin: 0 0.5rem;
    color:black;
    font-size: 1.5rem;
}

nav a:hover {
    border-bottom: red 0.3rem solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;
}

#heading-content {
    color:#DCDCDC;
    margin: 0 5rem;
    font-family: 'Caveat', cursive;
    position: relative;
    top: 5rem;
}

#welcome {
    margin: 0 0 1.5rem 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.65rem;
    word-spacing: 6px;
    letter-spacing: 2px;
    color: #999E9E;
}

#intro{
    font-size: 7.5rem;
    position: relative;
    top: -70px;
}

#comment {
    font-family: 'Poppins', sans-serif;
    font-size: 1.45rem;
    position: relative;
    top: -120px;
}



#profile {
    height: 15rem;
    background-color: #535353;
}

#id-box {
    margin: auto;
    width: 13rem;
    height: 15.4rem;
    background-color: rgb(0, 0, 0, 0.61);
    position: relative;
    top: -50%;
    opacity: 100%;
    border: black 1px solid;
    border-radius: 1rem;
}

#pic img {
    width: 11rem;
    padding: 0;
    height: 11rem;
    margin: 1rem;
    opacity: 100%;
    border-radius: 0.4rem;
}

#sign {
    font-family: 'Charmonman', cursive;
    font-size: 1.6rem;
    text-align: center;
    color:#D6D4D4;
    width: 11rem;
    height: 2rem;
    margin: 0.6rem 1rem;
    position: relative;
    top: -15%;
    opacity: 100%;
}

#skills {
    width: 66rem;
    height: 8rem;
    background-color: rgb(0, 0, 0, 0.90);
    display: flex;
    justify-content: space-around;
    margin:  auto;
    position: relative;
    top: -40%;
}

.skill img{
    height: 4.5rem;
    width: 5rem;
    margin-top: 0.2rem;
}

.skill h3 {
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: -1.2rem;
    left: -20%;
    color: seashell;
}



#need {
    height: auto;
    margin:0;
    background-color: #B7B0B0;
    display: inline-flex;
    justify-content: center;
}

.content {
    width: 50%;
    margin: 6rem 6rem;
    flex-shrink: 2;

}
.content h2 {
    border-bottom: black 5px solid;
    padding-bottom: 3rem;
    font-size: 3rem;
    margin-top: 5.5rem;
    padding-bottom: 5rem;
}

.content p {
    margin-top: 7rem;
    font-size: 2rem;
    margin-right: 2rem;
}

.content ul {
    margin-top: 4rem;
}
.content li {
    margin-top: 2rem ;
    font-size: 2rem;
}
.content img {
    height: 30rem;
    box-shadow:0.5rem 0.5rem 1rem slategrey;
    margin-top: 6rem;
}

#desktop-view {
    width: 15rem;
}

#mobile-view {
    margin-left: 5rem;
    width: 10rem;
}

#tablet-view  {
    height: 25rem;
    width: 15rem;
    margin-top: -40%;
    margin-left: 20%;
}

#fotomatic-button {
    position: relative;
    left: 8rem;
    top: -1.5rem;
    font-size: 2rem;
    background-color: black;
    color: blanchedalmond;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
}

#fotomatic-button a {
    text-emphasis: none;
    text-decoration: none;
    color: blanchedalmond;
}


#text {
    font-size:1.5rem;
    margin-top: -2rem;
}

#portfolio-glimps {
    background-image: url("./glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-size: cover;
    height: 40rem;
    width: 100%;
    margin-top: -3rem;
    color: white;
    text-align: center;
}

#po-content {
    position: relative;
    top: 6rem;
}

#portfolio-glimps h4 {
    margin-top: 2rem;
    color: red;
}

#po-button {
    background-color: red;
    color: black;
    font-size: 2rem;
    height: 4rem;
    width: 14rem;
    margin: 6rem auto;
    border-radius: 1.2rem;
}

#portfolio-glimps a {
    text-emphasis: none;
    text-decoration: none;
    color: black;
    
}

#footer {
    font-size: 1.3rem;
    text-align: center;
    background-color: red ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: black 1rem solid
}

#mobile-footer {
    display:none;
    position: absolute;

}


#left {
   margin: auto 2rem;
   position: relative;
   left: -4rem;
}

span {
    margin: auto 2rem;
}

#right {
    margin: auto 3rem;
}

footer .logo img {
    margin-left: -10rem;
}

@media only screen and (max-width: 850px){
    
    #heading {
        height: 400px;
    }
    #comment{
        font-size: 1.5rem;
        position: relative;
        top: -30px;
    }

    #welcome {
        font-size: 2.5rem;
    }

    #intro {
        font-size: 7.5rem;
        position: static;
    }

    .navigation {
        font-size: 2rem;
    }

    nav {
        position: relative;
        top: -5.5rem;
    }

    #portfolio-glimps h1 {
        font-size : 2rem;
    }

    #portfolio-glimps h4 {
        font-size : 1.5rem;
    }

    #po-button {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 500px){
    
    #heading {
        height: 350px;
    }

    header {
        height: 10rem;
        opacity: 1;
    }

    header .logo img{
        height: 10rem;
        width: 15rem;
    }

    #desktop-version {
        display: none;
    }

    #mobile-version{
        display: block;
    }

    #menu-icon {
    float: right;
    width: 16rem;
    height: 10rem;
    position: relative;
    top: -6.5rem;
    }

    #dropdown {
        width: 100%;
        height: 30rem;
        background-color:rgb(0, 0, 0);
        position: relative;
        top: -6.5rem;
        left: -100%;
        text-decoration: none;
        float: left;
        display: flex;
        flex-direction: column;
        border-bottom: solid 1.5rem white;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius:2rem;
    }

    #dropdown a {
        text-align: center;
        font-size: 3rem;
        margin: 1rem 2rem;
        color: gray;
    }

    #welcome {
        position: relative;
        top: 6rem;
    }
    #comment {
        position: relative;
        font-size: 2.5rem;
        top: 1rem;
        color: rgb(255, 255, 255)

    }

    #profile {
        height: 30rem;
    }

    #id-box {
        transform: scale(2);
        top: -10rem;
    }

    #sign {
        top: -4rem;
    }


    #skills {
        transform: scale(1.2);
        top: 9rem;
        height: 15rem;
    }

    #need {
        height: 250rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .content {
        width: 60%;
    }
    #need-1 {
        position: relative;
        top: -15rem;
        font-size: 6rem;
    }

    #need-2 {
        position: relative;
        top: -5rem;
    }
    .content h2 {
    border-bottom: black 5px solid;
    padding-bottom: 3rem;
    font-size: 4rem;
    padding-bottom: 5rem;
}
    .content img {
        transform: scale(2);
    }
    #desktop-view {
    width: 15rem;
    position: relative;
    left: 10rem;
    }

    #mobile-view {
        margin-left: 5rem;
        width: 10rem;
        position: relative;
        left: 25rem;
    }

    #tablet-view  {
    height: 25rem;
    width: 15rem;
    position: relative;
    right: 8rem;
    top: 22rem;
    margin: 0;
    padding:0;
    }

    #fotomatic-button {
    position: relative;
    top: 35rem;
    left: 22rem;
    font-size: 3rem;
    background-color: black;
    color: blanchedalmond;
    width: 20rem;
    text-align: center;
    border-radius: 1rem;
    }

    #text {
        position: relative;
        top: 40rem;
        text-align: center;
        font-size: 3rem;
    }

    .content p {
    margin-top: 7rem;
    font-size: 3rem;
    margin-right: 2rem;
    }

    .content ul {
    margin-top: 4rem;
    }   
    .content li {
    margin-top: 2rem ;
    font-size: 3rem;
    margin-left: -6rem;
    }

    #footer {
        display: none;
    }
    #mobile-footer {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        background-color: rgb(192, 92, 59) ;
        border-top: black 1rem solid
    }

    #mobile-footer span {
        margin: 0.5rem;
    }
    #mobile-footer .logo img {
        margin: 1rem auto;
        width: 30rem;
        height: 15rem;
    }
}
